@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-container {
  height: 100%;
  width: 100%;
}

.typo-logo {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}